// Fonts Variables
$montserat: 'Montserrat', sans-serif;

// Colors Variables
$colors: (
    primary: #005DFF,    
    accent: #FFF6BB,
    darkaccent: #FFEF88,
    yellow: #ffc723,    
    orange: #ff6600,
    red: #e50000,
    green: #009900,
    white: #fff,
    gray: #a8a8a8,
    lightgray: #eeeeee,
    black: #000
);

// Other Variables
$padding: 15px;
$borders: 15px;